@charset "utf-8";
/* CSS Document */

header{align-content:center;
		background-color: transparent;
		align-items:center;
		font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
body{
	background-color: #404040;
	align-content:center;
	align-items:center;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color: #FFFFFF; 
	
	
}

p{align-content:center;
}


